
project/project/.DS_Store
project/project/target/config-classes/$715abec340a942bec24a$.class
project/project/target/config-classes/$715abec340a942bec24a.cache
project/project/target/config-classes/$715abec340a942bec24a.class
project/project/target/resolution-cache/
project/project/target/scala-2.10/
project/project/target/streams/
project/target/config-classes/$6af015b9c58a3efba4ab$$anonfun$$sbtdef$1.class
project/target/config-classes/$6af015b9c58a3efba4ab$.class
project/target/config-classes/$6af015b9c58a3efba4ab.cache
project/target/config-classes/$6af015b9c58a3efba4ab.class
project/target/config-classes/$87e951759fea0e586ae8$$anonfun$$sbtdef$1.class
project/target/config-classes/$87e951759fea0e586ae8$.class
project/target/config-classes/$87e951759fea0e586ae8.cache
project/target/config-classes/$87e951759fea0e586ae8.class
project/target/config-classes/$e8ae97516bad15c825d5$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$e8ae97516bad15c825d5$$anonfun$$sbtdef$1.class
project/target/config-classes/$e8ae97516bad15c825d5$.class
project/target/config-classes/$e8ae97516bad15c825d5.cache
project/target/config-classes/$e8ae97516bad15c825d5.class
.idea/
#project/project/target/
#project/target
target
project/project/
